.github-corner svg {
    fill: var(--primary-light-color);
    color: var(--page-background-color);
    width: 72px;
    height: 72px;
}

.footer #versionSelector{
    background: var(--searchbar-background);
    border-radius: 5px;
    border: 2px solid var(--separator-color);
    padding-left: 15px;
}

.footer #versionSelector:hover{
    border: 2px solid var(--primary-light-color);
}
